body{
    background-image: url("../CSS/imageClair41.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.page{
    text-align: center;
    color :white;
    font-size: 18px;
}

.paragraphe2{
    margin-top: 20px;
}