body{
    background-image: url("../CSS/Portfolio.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.page{
    text-align: center;
    color : rgb(173, 234, 250);
    font-size: 18px;
}

.paragraphe2{
    margin-top: 20px;
}